<div class="login_form_container"> 
  <div class="login_form_header">
    <h1 class="logo_text">Placement Portal</h1> 
  </div>
  <div class="login_form_wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <table>
        <tbody>
          <tr>
            <td class="label_text"><label for="username">Username</label></td>
            <td class="label_text"><label for="password">Password</label></td> 
          </tr>
          <tr>
            <td><input type="text" name="username" formControlName="username" autocomplete="off" required></td>
            <td><input type="password" name="password" formControlName="password" autocomplete="off" required></td>
            <td collspan="2"><button type="submit" class="login_button" [disabled]="!loginForm.valid">Login</button></td>
          </tr>
          <tr>
            <td><div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div></td>
            <td><div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div></td>
          </tr>
          <tr>
            <td>
              <div *ngIf="invalidLogin" class="error">
                <div>Invalid credentials.</div>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div class="register_form_container" >
  <div class="about_home">
    <h2 class="head">About</h2>
    <p class="about_text"></p>
  </div>
  <div class="register_form_wrapper">
    <div class="col-md-8">
      <div class="row message_box">
        <p class="alert alert-success" *ngIf="showSuccessMsg">
          <strong>Registration Success!</strong> Please click here to login!.
        </p>
        <p class="alert alert-danger" *ngIf="showErrMsg">
           {{ error_message }}
        </p>
      </div>
      <h2 class="head">Create a new account</h2>
      <form [formGroup]="registerForm" (ngSubmit)="createUser()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" autocomplete="off" formControlName="username" class="form-control" placeholder="User name" required>
          <div class="error" *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">Username is required</div>
          <div class="error" *ngIf="registerForm.controls['username'].hasError('serverError')"> {{ registerForm.controls['username'].errors?.serverError}} </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" autocomplete="off" formControlName="password" class="form-control" placeholder="Password" required>
          <div class="error" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">Password is required</div>
          <div class="error" *ngIf="registerForm.controls['password'].hasError('serverError')"> {{ registerForm.controls['password'].errors?.serverError}} </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" name="passwordConfirm" id="passwordConfirm" formControlName="passwordConfirm" autocomplete="off" class="form-control" placeholder="Confirm Password" required>
          <div class="error" *ngIf="registerForm.controls['passwordConfirm'].hasError('required') && registerForm.controls['passwordConfirm'].touched">Confirm Password is required</div>
          <div class="error" *ngIf="registerForm.controls['passwordConfirm'].hasError('serverError')"> {{ registerForm.controls['passwordConfirm'].errors?.serverError}} </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" formControlName="email" autocomplete="off" placeholder="email" required>
          <div class="error" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">Email is required</div>
          <div class="error" *ngIf="registerForm.controls['email'].hasError('serverError')"> {{ registerForm.controls['email'].errors?.serverError}} </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" name="phone" id ="phone" class="form-control" formControlName="phone" autocomplete="off" placeholder="phone" required> 
          <div class="error" *ngIf="registerForm.controls['phone'].hasError('required') && registerForm.controls['phone'].touched">Phone is required</div>
          <div class="error" *ngIf="registerForm.controls['phone'].hasError('serverError')"> {{ registerForm.controls['phone'].errors?.serverError}} </div>
        </div>
        <div class="form-group">
          <button class="btn btn-btn-success" type="submit" [disabled]="!registerForm.valid">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
