.login_form_container {
    display: flex;
    min-height: 4.625rem;
    position: relative;
    z-index: 1;
    width: 100%;
}

.login_form_wrapper .label_text {
    color: #ffffff;
}

.login_form_header a.navbar-brand.logo-text {
    font-size: 2rem;
    padding-top: .825rem;
}

.login_form_header {
    flex: 1 0 auto;
    text-align: center;
}

.login_form_wrapper .label_text {
    padding-bottom: 4px;
}

.login_form_wrapper {
    flex: 0 1 40%;
    text-align: center;
}

.login_form_wrapper table {
    margin-top: 10px;
}

.login_form_wrapper table tr td {
    padding: 0 0 0 14px;
}

.login_form_wrapper td, td.label {
    text-align: left;
}

.login_form_wrapper tr {
    display: table-row;
}

.register_form_container {
    display: flex;
}

.about_home {
    flex: 1 0 auto;
    text-align: center;
}

.register_form_wrapper {
    flex: 0 1 50%;
}

.register_form_wrapper label {
    color: #5f6368;
}

button[disabled], input[disabled] {
    cursor: not-allowed;
    opacity: .8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login_button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.message_box {
    padding-top: 10px;
}

.message_box .alert {
    margin-bottom: 0px;
}

.error {
    color: red;
}